.header {
    background-color: #333;
    color: aqua;
    margin: 0;
    height: 13vw;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 25px;
    width: calc(111% - 100px);
    font-size: large;

}
